//Variables


/* Colors */
$primary: black;
$secundary: #EFE52D;

/* Spacings */


/* Font-Family */
$font-title: 'Kanit',sans-serif;

/* Font-Sizes */

$font-large: 23px;
$font-medium: 16px;
$font-base: 15px;



