ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .icons-header {
    color: black;
    font-size: 25px;
  }
  
  .top-header {
    background-color: #EFE52D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 700px;
  }
  
  .top-header p {
    color: black;
    font-family: Kanit;
  
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: black;
  }
  
  .header__img {
    max-width: 230px;
  }
  
  .menu {
    display: flex;
    gap: 4rem;
  }
  
  .menu__link {
    font-size: 16px;
    font-family: Kanit;
    text-transform: uppercase;
  }
  
  .menu__link:hover {
    color: #EFE52D;
  }
  
  .button {
    background-color: #EFE52D;
    border-radius: 5px;
    font-family: Kanit;
    padding: 7px;
    margin: -10px;
    text-transform: uppercase;
    border: none;
  }