@media screen and (max-width: 880px) {
    header{
        flex-direction: column;
        justify-content: center;
    }
    
    .header__img {
        max-width: 160px;
    }
    
    .menu {
        gap: 16px;
        justify-content: center;
    }
  
    .wrapper{
        padding: 25px;
    }
  
    .icons-header {
        display: flex;
        gap: 8px;
    }
  
    header{
        display: flex;
    }
  }
  
  @media screen and (max-width: 480px) {
    .top-header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
    }
    
    header{
        flex-direction: column;
        justify-content: center;
    }
  
    .menu__link {
        font-size: 11px;
    }
  
    .font__h2 {
        font-size: 13px;
        padding: 0px;
        margin: 10px;
    }
  
    .font__parrafo {
        font-size: 5px;
  
    }
    .wrapper{
        padding: 20px;
    }
  
    .cards{
        grid-template-rows: repeat(5, 1fr);
    }
  
    .box:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 1;
    }
  
    .box:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 2 / 2;
    }
  
    .box:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 3 / 3;
    }
  
    .box:nth-of-type(4) {
        grid-column: 1 / 13;
        grid-row: 4 / 4;
    }
  
    .box:nth-of-type(5) {
        grid-column: 1 / 13;
        grid-row: 5 / 5;
    }
  
    .main-footer{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
  
    .img__footer{
        width: 230px;
        justify-content: center;
    }
  
    .footer-widget p {
        flex-direction: column;
    }
  
  }

  @media screen and (min-width: 768px) {
    .top-header {
        background-color: #EFE52D;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        gap: 484px;
}
  }