.font__titulo {
        font-family: Kanit;
        text-align: center;
        font-size: 23px;
        text-transform: uppercase;
        padding: 20px; 
}

.font__parrafo{
    font-family: Kanit;
    text-align: center;
    font-size: 15px;
}